.About {
  min-height: max-content;
  color: var(--text-color);
  background-color: var(--secondary-background-color);

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.wrapper {
  padding: 10rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.experience {
  flex: 1;
}

.experience h2 {
  margin: 0;
  font-size: 3.25rem;
  font-weight: 800;
  margin-block-end: 1rem;
  color: blueviolet;
}

.experience span {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.description {
  flex: 2;
  position: relative;
}

.content {
  margin-block-end: 4rem;
}

.content_header {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-block-start: 0;
}

.content_header span {
  font-weight: 600;
  color: blueviolet;
}

.hr {
  border: none;
  margin: 0;
  border-bottom: solid 1px var(--text-color);
  transition: border 0.2s ease-in-out;
}

.cards {
  position: absolute;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin-block-start: 3rem;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    padding: 4rem 2rem;
    align-items: center;
    gap: 1rem;
  }

  .experience h2 {
    font-size: 2rem;
    text-align: center;
    margin-block-end: 0rem;
  }

  .experience span {
    font-size: 0.9rem;
  }

  .content_header {
    font-size: 1.25rem;
    text-align: center;
  }

  .cards {
    margin-block-start: 0rem;
    display: flex;
  }

  .content {
    max-width: 718px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .experience {
    display: flex;
    flex-direction: column;
  }

  .experience h2 {
    font-size: 1.5rem;
  }

  .experience span {
    text-align: center;
  }

  .description {
    position: static;
    max-width: calc(100vw - 1rem);
  }

  .content {
    margin-block-end: 1rem;
    max-width: none;
  }

  .cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 2rem;
  }

  .accordion_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
  }

  .content_header {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin: 0;
  }
}
