/* button */
.Button {
  outline: 0;
  border: 0;

  background-color: blueviolet;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  cursor: pointer;
}

.Button:hover {
  background-color: #a64dff;
}
.Button:active {
  background-color: #a64dff;
  transform: scale(0.95);
}

/* Theme switcher button */
.themeButton {
  cursor: pointer;
  height: 24px;
}
