.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

/* @media only screen and (min-width: 769px) and (max-width: 1024px) {
  .menu {
    display: flex;
  }
} */
