.Home {
  min-height: 75vh;
  display: flex;
  align-items: center;
}

.wrapper {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.content {
  flex: 2;
  padding: 1rem 0;
}

.content h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.content .name {
  font-size: 3rem;
  font-weight: 500;
}

.content p {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.socials {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.image {
  flex: 2;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column-reverse;
    padding: 2rem;
    align-items: start;
  }

  .content {
    flex: 1;
    padding: 2rem 0;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content .name {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .image {
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .image > div {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    padding: 1rem;
    align-items: center;
  }

  .image {
    margin: 0;
  }

  .image > div {
    width: 100%;
  }
}
