.Home {
  height: 100vh;
  margin-bottom: 4rem;
}

.wrapper {
  padding: 2rem 4rem;
  display: flex;
}

.content {
  flex: 2;
  padding: 4rem 0;
}

.content h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.content .name {
  font-size: 3rem;
  font-weight: 600;
}

.content p {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-right: 10rem;
}

.image {
  flex: 1;
  margin: 0 1rem;
}
