@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.logo {
  font-family: "Alkatra";
  cursor: pointer;
}

.logo:hover a {
  color: blueviolet;
}

.logo > a {
  font-size: 1.5rem;
  text-decoration: none;
}

.logo > a:hover {
  color: blueviolet;
}

.logo > a:visited {
  color: inherit;
}
