/* about card */
.AboutCard {
  background-color: #323131;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;
  transition: background-color 0.2s ease-in-out;
  padding: 1rem;
}

.AboutCard:hover {
  background-color: blueviolet;
  transform: rotate(10deg);
}

.AboutCard__icon {
  width: fit-content;
}

.AboutCard:hover .AboutCard__icon {
  transform: rotate(-25deg) translate(15px, -30px);
}

.AboutCard__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
  width: 80%;
}

/* skills card */

.SkillCard {
  background-color: #323131;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.SkillCard__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.SkillCard__description > h3 {
  margin: 0;
  font-weight: 500;
}

.SkillCard__description > p {
  margin: 0;
  font-weight: 300;
}

/* projects card */
