.Projects {
  background-color: var(--secondary-background-color);

  transition: all 0.2s ease-in-out;
}

.wrapper {
  padding: 6rem 8rem 11rem 8rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 10rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 2rem;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  flex: 1;
}

.content {
  flex: 1;
  font-weight: 300;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: blueviolet !important;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.link:hover .arrow {
  transform: translateX(0.5rem);
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 3rem 2rem 7rem 2rem;
  }

  .projects {
    gap: 3rem 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 2rem 1rem 5rem 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }

  .link {
    font-size: 0.9rem;
  }
}
