:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #242424;
  --text-color: #ffffffde;
  --secondary-background-color: #121111;
  --card-background-color: #323131;
  --bar-background-color: #eaeaea;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Header {
  min-height: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--background-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

body {
  margin: 0;
}
