@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Comfortaa", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Header {
  min-height: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
}

.opaque {
  background-color: var(--background-color);
  backdrop-filter: none;
  --webkit-backdrop-filter: none;
}

.Header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 8rem;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background-color: blueviolet;

  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .Header > nav {
    padding: 0.5rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .Header {
    background-color: var(--background-color);
    backdrop-filter: none;
    --webkit-backdrop-filter: none;
  }

  .Header > nav {
    padding: 0.5rem 1rem;
  }
}
